* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
body{
font-family:"roboto", arial;
}

/*Navigation*/

.Navigation  { 
background-color: #33292a;}

.Navigation-list{
width: 95%;
color:whitesmoke;
display:flex;
justify-content:space-evenly;
margin: 0 auto;
font-weight: bold;
list-style: none;
padding: 24px 0;
}

@media (max-width: 756px) {.Navigation-list { display: none ;}}

.burger-menu
{
width: 30px;
margin-left: auto;
margin-right: 20px;
padding-bottom: 5px;
padding-top: 5px;
cursor: pointer;
}

@media (min-width: 756px) {.burger-menu { display: none ;}}

/*Header*/
.hero{
background-size: cover;
background-position: center;
background-image: url("./images/travel-tent.jpg");
}

.hero-wrapper {
width: 70%;
margin: 0 auto;
padding: 48px 0;
position: relative;
height: 500px; 
}

.hero-text
{
position: absolute;
right:1px;
bottom:100px;
font-size: 70px;
color: white;
font-weight: bolder;
  
}

/*SEKCE ABOUT US*/

.about-us {
display:flex;
width: 70%;
margin:0 auto;
padding: 48px 0;
}
@media (max-width: 768px) {.about-us { flex-direction: column; width: 90%} }

.about-us-text {
padding-right: 30px;
width:50%;
text-align:justify;
}

@media (max-width: 768px) {.about-us-text { width: 100%; } }


.about-us-text h2 {
padding-bottom: 20px;
}

.about-us-picture{
width: 50%;
background-size: cover;
background-position: center;
margin: 0 auto;
}

@media (max-width: 768px) {.about-us-picture { width: 100%} }

.about-us-picture img {
width:100%;
  } 
 

/* SEKCE S IKONAMI */
.what-we-do
{background-color: #33292a
  ;}

.what-we-do-wrapper {    
margin:0 auto;
width: 70%;
padding:48px 0;
color:white;
 }
@media (max-width: 768px) {.what-we-do-wrapper {width:100%;} }

.our-profile{
text-align:center;
padding-bottom: 15px;
}

.our-profile h2 {
  padding-bottom: 15px;
}

.our.profile{
padding-bottom: 25px;
}

.about-icons{
display:flex;
justify-content: space-between;
text-align: center;
}

@media (max-width: 768px) {.about-icons { flex-direction: column;width:100%;align-items: center;} }


.about-icon{
width:100px;
height: 150px;
}


.about-icon img{
width:100px;
height: 100px;
padding-bottom: 5px;
color:white;
}

/*Pictures in cube*/

.wraper-photos-cube {
  display: flex; 
  gap: 10px; 
  flex-wrap: wrap; 
  max-width: 1000px; 
  margin:0 auto; 
  width:70%;
  padding: 48px 0;
}

@media (max-width:756px)
{.wrapper-photos-cube {width:95%;} }

.picture {
  height: 200px;
  width: 32%;
  flex-shrink: 1; /*dovoluji mi se zmenšovat*/
  border-radius: 15px;
}
@media (max-width:756px) {.picture {width:100%;} }

.picture img{
  width:100%;
}

@media (max-width:756px) {.picture img {object-fit:cover;} }

.name-galery{
  background-color: rgb(201, 201, 201);
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-weight: bold;
  height: 200px;
  width: 32%;
}
  @media (max-width:756px) {.name-galery {width: 100%;} }


/*Kontaktní sekce*/

.our-offer{background-color:#644b4f;color:whitesmoke;}

@media (max-width:756px) {.our-offer {width:100%;} }


.our-offer-wrapper {
  display:flex;
margin: 0 auto;
width: 70%;
padding:48px 0;
text-align:left;
gap:20px;}

@media (max-width: 768px) {.our-offer-wrapper { flex-direction: column;} }



.answer
{
  width:70%;
}

@media (max-width:756px) {.answer {width:100%;} }

.answer p
{margin-bottom:32px;}

.contact-button{
  display:inline-block;
  padding:10px;
  background-color:#D3D3D3;
  color:black;
  border-radius:8%;
}

@media (max-width:756px) {.contact-button {width:100%; width:auto;} }


.contact-button:hover{color:whitesmoke;}


.picture
{
  display:flex;
}

/*REFERECE*/


.reviews-wrapper
{width:70%;
  margin:0 auto;
padding: 48px 0;}

@media (max-width:756px) {.reviews-wrapper {width:100%;} }

.review-description-top
{margin:0 auto;
padding:30px 250px;
text-align: center;
}

@media (max-width:756px) {.review-description-top {width:100%; padding: 30px 30px} }

.review-description-top h2
{padding-bottom:30px;}

.references
{display:flex;
text-align: center;
gap: 80px;
}

@media (max-width:756px) {.references {flex-direction: column;width:100%;align-items: center;} }



.references img{
  background-size:cover;
  background-position:center;
  border-radius: 50%;
  width:100px;
  height: 100px;
  margin-bottom: 30px;
  text-align: center;
  
  }
.references strong {
  padding-top:20px;
}

@media (max-width:756px) {.review-description-left {width:90%;} }

@media (max-width:756px) {.review-description-right {width:90%;} }

/*Galerie*/
.galery{
  display:flex;
  flex-wrap: wrap;
}

.galery img{width:50%}
@media (max-width:756px) {.galery img {width: 90%; margin:auto;} }

/*Food-pat*/
.foot-pad{
text-align:center;
background-color: #33292a;
color:white;
padding:48px 0;
}

.foot-pad a{
  color:#efa69d;
}

.foot-pad p {  
font-size:10px;
}

a:hover {
  color:blue;
}


